
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Product Catalog</h1>

<div class="product_search">
	<%= form_tag shopper_path, method: :get do %>
		<%= text_field_tag 'search[name]', @search.name, placeholder: 'Book Title' %>
		<%= text_field_tag 'search[description]', @search.description, placeholder: 'Book Description' %>
		<%= text_field_tag 'search[min_price]', @search.min_price, placeholder: 'Min. Price' %>
		<%= text_field_tag 'search[max_price]', @search.max_price, placeholder: 'Max. Price' %>
		<%= submit_tag 'Search', class: 'btn search-button' %>
<% end %>
</div>

<% @products.each do |product| %>
<div class="entry">
	<%= image_tag(product.image) %>
	<h3><%= product.name %></h3>
	<%= sanitize(product.description) %>
	<div class="price_line">
		<span class="price"><%= number_to_currency(product.price) %></span>
	</div>
	<%= button_to 'Add to Cart', lineitems_path(product_id: product), class: 'add_to_cart', remote: true %>
</div>
<% end %>
